/* http://graphstream-project.org/doc/Advanced-Concepts/GraphStream-CSS-Reference/ */

graph {
    canvas-color: white;
    fill-mode: gradient-radial;
    fill-color: white, #EEEEEE;
    padding: 60px;
}

node {
    shape: box;
    size-mode: fit;
    fill-mode: plain;
    fill-color: darkseagreen;
    padding: 5px;
}

node:selected {
    fill-color: lightcoral;
    stroke-color: coral;
}

edge {
    shape: freeplane;
    size: 1px;
    fill-color: grey;
    fill-mode: plain;
}
