/* http://graphstream-project.org/doc/Advanced-Concepts/GraphStream-CSS-Reference/ */

graph {
    canvas-color: white;
    fill-mode: gradient-radial;
    fill-color: white, #EEEEEE;
    padding: 60px;
}

node {
    shape: freeplane;
    size: 10px;
    size-mode: fit;
    fill-mode: none;
    stroke-mode: plain;
    stroke-color: grey;
    stroke-width: 2px;
    padding: 5px, 3px;
}

edge {
    shape: freeplane;
    size: 1px;
    fill-color: grey;
    fill-mode: plain;
}
